.texto_centrado{
    text-align: center;
}
.interlineado{
    line-height: 25px;
}
.fuente_texto{
    font-family: sans-serif;
}
.color_texto{
    color: rgb(30, 209, 51);
}
.negrita{
    font-weight: bold;
}
span.negrita{
    font-style: italic;
    text-decoration: underline;
    color: blue;
}
.div_clases_selectores{
    position: relative;
    border: 3px dotted black;
    width: 75%;
}
.foto2_clases_selectores{
    position: absolute;
    right: 5px;
    top: 5px;
}
.foto1_clases_selectores{
    width: 95%;
}
ul .select_debian{
    background-color: rgb(213, 45, 81);
    font-weight: bold;
    border: 3px solid blue;
}
p .select_debian{
    color: red;
    text-decoration: underline;
}
h3 .raspberry-class{
    text-decoration: underline;
}
p .raspberry-class{
    color: lightsalmon;
    font-weight: bold;
}
.div-selectores-descendientes{
    border: 2px dashed black;
    position: relative;
    width: 75%;
}
.foto2-selectores-descendientes{
    position: absolute;
    right: 5px;
    top: 5px;
}
.foto1-selectores-descendientes{
    width: 95%;
}
h3.h3-selectores-agrupados, h4.h4-selectores-agrupados{
    color: rgb(22, 175, 73);
}
p.div_camara_video{
    display: none;
    border: 3px solid forestgreen;
    background-color: goldenrod;
    height: 114px;
    width: 50%;
    overflow: auto;
}
.div_reloj{
    display: none;
    border: 3px solid forestgreen;
    background-color: goldenrod;
    height: 210px;
    width: 50%;
}
.div_otros_accesorios{
    display: none;
    border: 3px solid forestgreen;
    background-color: goldenrod;
    width: 50%;
    height: 125px;
}
div.camara:hover p.div_camara_video{
    display: block;
}
div.reloj:hover p.div_reloj{
    display: block;
}
div.otros:hover p.div_otros_accesorios{
    display: block;
}
.hover:hover{
    color: lime;
}