.div-hoja-externa{
    width: 65%;
    margin: auto;
    border: 5px groove lightseagreen;
    background-color: darksalmon;
    padding: 10px;
    text-align: justify;
}
.h3-hoja-externa{
    color: firebrick;
}
.ul-hoja-externa{
    font-family: sans-serif;
}
.span1-li1{
    color: red;
    font-weight: bold;
}
.span1-li1:hover{
    background-color: red;
    color: white;
}
.span1-li2{
    color: teal;
    font-weight: bold;
    text-decoration: underline;
}
.span1-li2:hover{
    background-color: teal;
    color: white;
    text-decoration: none;
}
.span1-li3{
    color: darkgreen;
    font-family: fantasy;
}
.span1-li3:hover{
    background-color: darkgreen;
    color: white;
}
.span1-li4{
    color: rgb(0, 255, 179);
    font-family: fantasy;
    font-weight: bold;
    font-size: 15px;
}
.span1-li4:hover{
    background-color: rgb(0, 255, 179);
    color: white;
}
