.contenedor_dirección_flexible{
    display: flex;
    flex-direction: column-reverse;
    background-color: forestgreen;
}
.contenedor_dirección_flexible > div {
    background-color: rgb(187, 255, 0);
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_envoltura_flexible{
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: royalblue;
    width: 30%;
}
.contenedor_envoltura_flexible > div{
    background-color: salmon;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_justificacion_contenido{
    display: flex;
    justify-content: space-around;
    background-color: rgb(199, 91, 33);
}
.contenedor_justificacion_contenido > div{
    background-color: sandybrown;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_alinear_elemento{
    display: flex;
    align-items: flex-end;
    background-color: slateblue;
    height: 220px;
}
.contenedor_alinear_elemento > div{
    background-color: tomato;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_alinear_contenido{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: rgb(29, 201, 126);
    height: 400px;
    width: 50%;
}
.contenedor_alinear_contenido > div{
    background-color: cornflowerblue;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_orden{
    display: flex;
    align-items: stretch;
    background-color: darksalmon;
}
.contenedor_orden > div{
    background-color: deepskyblue;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_crecimiento{
    display: flex;
    align-items: stretch;
    background-color: firebrick;
}
.contenedor_crecimiento > div{
    background-color: rgb(29, 233, 63);
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_flex_encogimiento{
    display: flex;
    align-items: stretch;
    background-color: gold;
    width: 50%;
}
.contenedor_flex_encogimiento > div{
    background-color: rgb(212, 0, 255);
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_base_flexible{
    display: flex;
    align-items: stretch;
    background-color: indianred;
}
.contenedor_base_flexible > div{
    background-color: chocolate;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.contenedor_alinear_self{
    display: flex;
    align-items: stretch;
    background-color: peru;
    height: 220px;
}
.contenedor_alinear_self > div{
    background-color: powderblue;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}